/*This is a comment */

body{
  background-color:black;
}
.green{
  color:green;
  font-family:"Arial",sans-serif;
  font-weight:bold;
  text-align:center;
  font-size:20px;
}
.orange{
  color:orange;
  font-family:"Arial",sans-serif;
}
.pink{
  color:magenta;
  font-family:"Arial",sans-serif;
  text-align:right;
}
.yellow{
  color:yellow;
  font-family:"Arial",sans-serif;
  text-transform:uppercase;
  font-style:italic;
}
.red{
  color:red;
  font-family:"Arial",sans-serif;
  vertical-align:super;
}
