body{
  font-family:"Trebuchet MS", sans-serif;
  color:#00316e;
}
#wrapper{
  transition:0.5s;
  width:1500px;
  margin:0 auto;
  background-color:#b3abed;
}
#logo{
  height:100px;
  width:180px;
  float:left;
  padding:5px;
}
img{
  border:#00316e solid 1.5px;
}
.emphasis:hover{
  border-width:3px;
}
#header{
  height:110px;
  width:1215px;
  float:right;
  text-align:center;
  padding-right:10px;
  padding-left:10px;
}
#dateDisplay{
  height:110px;
  width:70px;
  float:right;
  text-align:right;
  padding-right:5px;
}
#date{
  text-align:right;
}
.sidenav{
  height:1137px;
  width:0;
  position:fixed;
  z-index:1;
  top:8px;
  left:0;
  background-color:#abedba;
  overflow-x:hidden;
  padding-top:60px;
  transition:0.5s;
}
.sidenav a{
  padding:8px 8px 8px 32px;
  text-decoration:none;
  font-size:25px;
  color:#00316e;
  display:block;
  transition:0.3s;
}
.sidenav a:hover{
  color:#d30000;
}
.sidenav .closebtn{
  position:absolute;
  top:0;
  right:25px;
  font-size:36px;
  margin-left:50px;
}
/* navigation overlay code from https://www.w3schools.com/howto/howto_js_sidenav.asp */
#content{
  float:right;
  width:1490px;
  height:1000px;
  background-color:#abdeed;
  padding:5px;
}
#art{
  display:none;
}
.caption1{
  font-size:15px;
  width:244px;
  text-align:center;
  clear:both;
  position:relative;
  bottom:45px;
}
.caption2{
  font-size:15px;
  width:257px;
  text-align:center;
  clear:both;
  position:relative;
  bottom:45px;
}
.caption3{
  font-size:15px;
  position:relative;
  bottom:45px;
  width:258px;
  text-align:center;
}
.caption4{
  font-size:15px;
  width:228px;
  text-align:center;
  clear:both;
  position:relative;
  bottom:45px;
}
.caption5{
  font-size:15px;
  width:403px;
  text-align:center;
  clear:both;
  position:relative;
  bottom:45px;
}
.wizardHat:hover, .peony:hover, .otter:hover, .ocean:hover, .winter:hover{
  color:white;
}
#footer{
  text-align:center;
  padding:5px;
  height:65px;
  clear:both;
}
#footer .social{
  text-align:right;
}
.social i:hover{
  color:#abdeed;
}
