body{
  background-color:blue;
}

.blue{
  border:black 3px solid;
  margin:10%;
}

.redText{
  color:red;
  margin:10px;
  border:green 1px dashed;
}

.photo{
  border:white 1px dashed;
  padding:15px;
}
