body{
	color:white;
	background-color:white;
}
#wrapper{
	width:900px;
	background-color:red;
}
#header{
	height:60px;
	text-align:center;
  padding:5px;
}
#leftbody{
	float:left;
	width:900px;
	height: 500px;
	background-color:green;
  padding-top:10px;
}
#bottom{
	height:50px;
	clear:both;
  background-color:blue;
  padding-top:10px;
}
