body{
	color:black;
	background-color:white;
}
#wrapper{
	background-color:green;
	width:950px;
	height:750px;
	margin:0 auto;
}
#leftbody{
	float:left;
	position:relative;
	left:100px;
	width:200px;
	height:200px;
	background-color:blue;
	padding-top:10px;
}
#rightbody{
	float:right;
	position:relative;
	right:100px;
	width:200px;
	height:200px;
	background:red;
	padding-top:10px;
}
#bottom{
  width:200px;
	height:200px;
	clear:both;
  background-color:yellow;
  position:relative;
  left:375px;
}
